/* critical:start */
@font-face {
  font-family: 'Lucida Grande';
  src: url('../fonts/LucidaGrande-Bold.woff2') format('woff2'),
    url('../fonts/LucidaGrande-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lucida Grande';
  src: url('../fonts/LucidaGrande.woff2') format('woff2'),
    url('../fonts/LucidaGrande.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE Soulmaze';
  src: url('../fonts/MADESoulmaze.woff2') format('woff2'),
    url('../fonts/MADESoulmaze.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* critical:end */
