//Modal bgn
#modal.modal.micromodal-slide(aria-hidden="true")
  .modal__overlay(tabindex="-1" data-micromodal-close)
    .modal__container(role="dialog" aria-modal="true" aria-labelledby="contact-form-title")
      header.modal__header
        h2#contact-form-title.modal__title
          | Contact now
        button.modal__close(aria-label="Close modal" data-micromodal-close)
      #contact-form-content.modal__content
        form.contact-form
          input.contact-form__input(type="text" placeholder="name" maxlength="40" required)
          input.contact-form__input(type="text" placeholder="phone number" maxlength="20" required)
          input.contact-form__input(type="email" placeholder="email" maxlength="40")
          textarea.contact-form__textarea(placeholder="message" maxlength="200")
          input.btn.contact-form__submit(type="submit" value="Send")
//Modal end
