footer.page-footer.jsMenuTarget#footer
  .page-footer__container.section-container
    h2.page-footer__heading Contact us
    h4 Extreme Exterminating is here and ready to help you. If you have any questions and concerns about our pest control services please
    .page-footer__contacts
      .page-footer__tel
        span Call us at
        a(href="tel:+15555555555") +15555555555
      .page-footer__mail
        span Email us at
        a(href="mailto:extreme@exterminating.com") extreme@exterminating.com
    .page-footer__columns
      .page-footer__column
        h4 Our Customers’ Feedback
        p
          b Your feedback is important to us, please feel free to leave any comments. We thank you for choosing Extreme Exterminating as your pest control company !
      .page-footer__column
        .page-footer__cta-btn
          button.btn(data-micromodal-trigger="modal") contact now
    h4 We will schedule a visit and solve your issue.Our goal is building a trustworthy relationship with all our existing and new customers. Once again we thank you for choosing extreme exterminating.
