meta(charset="utf-8")
title= title || 'Page-title'
//- Description no longer than 155 characters
meta(name="description" content="We here at Extreme Exterminating are based in Brooklyn, New York. We provide high-quality results in pest control in all five Boroughs of NYC.")
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#fff")
