script(src="js/bundle.min.js")
script(src="js/main.min.js")

//Google Analytics
script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-177653671-1")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-177653671-1');
